<div>
  <a href={{image.pageURL}} target="_blank" class="">
    <div class="card text-center ">
      <img class="card-img-top" src={{image.webformatURL}} alt="" />
      <div class="card-body p-2 ">
        <span class="badge badge-dark mr-1">
          <i class="fas fa-eye">
          </i>
          {{image.views}}
        </span>
        <span class="badge badge-danger mr-1">
          <i class="fas fa-heart"></i>
          {{image.likes}}
        </span>
        <span class="badge badge-primary">
          <i class="fas fa-arrow-down"></i>
          {{image.downloads}}
        </span>
      </div>
    </div>
  </a>
</div>
