 .card-img-top {
   height: 20vw;
   object-fit: cover;
 }

 .badge {
   font-size: 0.8rem;
 }

 a:hover {
   text-decoration: none;
 }

 @media (max-width: 576px) {
   .card-img-top {
     height: 50vw;
   }
 }
